. {
    font-family: serif;
}

.navMenu {
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0px;
    z-index: 10;
}

.errorText {
    font-size: 20px;
    color: red;
    text-align: center;
    visibility: hidden;
}

.errorText.show {
    visibility: visible;
}

.toplevel {
    display: flex;
    flex-direction: row;
    padding-top: 90px;
    width:82%;
}

.planetContainer {
    display: flex;
    flex-direction: column;
    width: 68%;
    background-color: dodgerblue;
    padding: 3px;
}

.planetContainer>div {
    border: 1px solid black;
    background-color: #f1f1f1;
}

.fullPlanetDetails {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.fullPlanetDetails>div {
    border: 1px solid black;
    /* width: 33%; */
}

.planetInfoHeader {
    width: 25%;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}
.planetInfo {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.planetNameRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: auto 0;
}

.planetName {
    /* background-color: #f1f1f1; */
    /* border: 1px solid black; */
    /* width: 100%; */
    /* padding: 3px; */
    /* width: 100%; */
    
    width: 100%;
    font-size: 20px;
    text-align: center;
}

.editImage {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 87%;
    z-index: 4;
    /* flex-basis: 0; */
    /* padding-right: 0px; */
    /* align-self: 100px; */
}

.planetDetails {
    display: grid;
    grid-template-columns: auto auto;
    /* flex-direction: row;
    flex-wrap: nowrap; */
    justify-content: space-evenly;
    text-align: center;
    /* background-color: #f1f1f1; */
    /* border: 1px solid black; */
    /* width: 50%; */
    padding: 3px;
    font-size: 12px;
    text-align: center;
}

.planetMarketHeader {
    width: 45%;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    padding: 3px;
}

.planetMarket {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    text-align: right;
    padding: 3px;
    font-size: 12px;
    width: 45%;
}

.planetCategoryMarketHeader {
    width: 30%;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    padding: 3px;
}

.planetCategoryMarket {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    text-align: right;
    font-size: 12px;
    padding: 3px;
    /* margin-left: 4px; */
    width: 30%;
}
.highlight {
    background-color: yellow;
}

#mtoast {
    visibility: hidden;
    position: fixed;
    /* min-width: 250px; */
    margin-left: -125px;
    height: 20px;
    background-color: lightgreen;
    font-size: 20px;
    /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.12); */
    text-align: center;
    border-radius:4px;
    padding: 16px;
    z-index: 99;
    left: 50%;
    top: 50%;
    border: 1px solid black;
}

#mtoast.show {
    visibility: visible;
}

.displayNone {
    display: none !important;
}
